<body>

    <section id="one" class="wrapper style2 special py-5">
        <header class="major text-center mb-4">
            <h2>Sed ipsum magna lorem tempus amet<br />
                vehicula et gravida elementum</h2>
        </header>
        <div class="container">
            <ul class="row list-unstyled text-center">
                <li class="col-md-4 mb-4">
                    <div class="icon-box p-3 border rounded">
                        <span class="icon solid fa-camera-retro fa-3x mb-3"></span>
                        <span class="label d-block">Shoot</span>
                    </div>
                </li>
                <li class="col-md-4 mb-4">
                    <div class="icon-box p-3 border rounded">
                        <span class="icon solid fa-sync fa-3x mb-3"></span>
                        <span class="label d-block">Process</span>
                    </div>
                </li>
                <li class="col-md-4 mb-4">
                    <div class="icon-box p-3 border rounded">
                        <span class="icon solid fa-cloud fa-3x mb-3"></span>
                        <span class="label d-block">Upload</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>


   
</body>