<body>

    <section id="two" class="wrapper py-5">
        <div class="container">
            <!-- First Spotlight Section -->
            <section class="spotlight mb-5 row align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/images/pic01.jpg" alt="No image found" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                    <h3>Magna sed ultrices</h3>
                    <p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
                </div>
            </section>

            <!-- Second Spotlight Section -->
            <section class="spotlight mb-5 row align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/images/pic02.jpg" alt="No image found" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                    <h3>Ultrices nullam aliquam</h3>
                    <p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
                </div>
            </section>

            <!-- Third Spotlight Section -->
            <section class="spotlight mb-5 row align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/images/pic03.jpg" alt="No image found" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                    <h3>Aliquam sed magna</h3>
                    <p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
                </div>
            </section>

            <!-- Special Section with Icons -->
            <section class="special text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <span class="icon solid fa-camera-retro fa-2x mb-2 d-block"></span>
                        <span class="label">Ipsum lorem accumsan</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="icon solid fa-sync fa-2x mb-2 d-block"></span>
                        <span class="label">Sed vehicula elementum</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="icon solid fa-cloud fa-2x mb-2 d-block"></span>
                        <span class="label">Elit fusce consequat</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="icon solid fa-code fa-2x mb-2 d-block"></span>
                        <span class="label">Lorem nullam tempus</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="icon solid fa-desktop fa-2x mb-2 d-block"></span>
                        <span class="label">Adipiscing amet sapien</span>
                    </li>
                </ul>
            </section>
        </div>
    </section>